.TabbedPanels {margin-left: 4px; padding: 0px; float: left; clear: none; width: 100%;}
.TabbedPanelsTabGroup {margin: 0px; padding:0 0 0 40px;}
.TabbedPanelsTab {position: relative; float: left; padding:10px 18px 11px 18px; margin: 0px 1px 0px 0px; list-style:none; -moz-user-select: none; -khtml-user-select: none; cursor: pointer; background:transparent url(../images/tab.jpg) left top no-repeat; width:101px; text-align:center; font-size:14px; font-weight:bold; color:#FFFFFF;}
.TabbedPanelsTabHover {background:url(../images/tab.jpg) left top no-repeat;}
.TabbedPanelsTabSelected {background:url(../images/tab-h.jpg) left top no-repeat;}
.TabbedPanelsTab a {color: black; text-decoration: none;}
.TabbedPanelsContentGroup {/*clear: both;*/}
.TabbedPanelsContent {padding: 4px;}
.TabbedPanelsContentVisible { /*min-height:370px;*/}
.TabbedPanelsContentVisibleAlt {height:auto; padding:30px 20px;}
.TabbedPanelsContentVisible .hd-title {font-size:24px; font-weight:bold;}
.TabbedPanelsContentVisible .textarea {margin:3px 0 8px 0; padding:5px 5px; border:1px solid #000000; width:375px; height:100px;}
.TabbedPanelsContentVisible .ok-btn {margin:0; padding:5px; border:0; background:url(../images/ok-btn2.jpg) left top no-repeat; width:68px; height:31px; vertical-align:middle;}

.VTabbedPanels .TabbedPanelsTabGroup {float: left; width: 10em; height: 20em; background-color: #EEE; position: relative; border-top: solid 1px #999; border-right: solid 1px #999; border-left: solid 1px #CCC; border-bottom: solid 1px #CCC;}
.VTabbedPanels .TabbedPanelsTab {float: none; margin: 0px; border-top: none; border-left: none; border-right: none;}
.VTabbedPanels .TabbedPanelsContentGroup {clear: none; float: left; padding: 0px; width: 30em; height: 20em;}

.tab-btn {position:absolute; margin:-94px 0 0 400px; text-align:right; width:250px;}
.tab-btn .hd {font-size:14px; font-weight:bold; color:#ff0000;}